<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Congratulations on Completing the Course!</title>
    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 80%;
            margin: auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

        .header h1 {
            color: #007bff;
            margin: 0;
        }

        .body-content {
            padding: 20px;
            text-align: center;
        }

        .footer {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Congratulations!</h1>
        <p>You've successfully completed the course</p>
    </div>
    <div class="body-content">
        <p>Dear <span th:text="${recipient}"></span>,</p>
        <p>It is with great pleasure that we present this certificate to acknowledge your successful completion of the
            course:</p>
        <p>We hope that this certificate serves as a testament to your dedication and hard work.</p>
    </div>
    <div class="footer">
        <p>Best regards,</p>
        <p>Quatrolango team</p>
    </div>
</div>
</body>
</html>