<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Quatrolango Language School Certificate</title>
    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            background-color: #fff;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 80%;
            margin: auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

        .header h1 {
            color: #007bff;
            margin: 0;
        }

        .certificate {
            text-align: center;
            margin-bottom: 20px;
        }

        .certificate img {
            max-width: 100%;
        }

        .important-info {
            font-weight: bold;
            font-size: 18px;
        }

        .footer {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Certificate of Completion</h1>
        <p>This certifies that</p>
        <p><strong th:text="${recipientName}"></strong> <strong th:text="${recipientMiddleName}"></strong> <strong
                th:text="${recipientLastName}"></strong></p>
        <p>has successfully completed the course</p>
        <p><strong th:text="${courseName}"></strong></p>
        <p><span class="important-info" th:text="${language}"></span> - <span class="important-info"
                                                                              th:text="${proficiencyLevel}"></span></p>
        <strong>offered by Quatrolango Language School</strong>
    </div>
    <div class="certificate">
        <img src="certificate_template.jpg" alt="Certificate"/>
    </div>
    <div class="footer">
        <p>Valid from <span th:text="${validFrom}"></span></p>
        <p>Issued by Quatrolango Language School</p>
    </div>
</div>
</body>
</html>