<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" th:with="title='Currently logged in: ' + ${user.fullName}">
<head>
    <script>
        function copyToken() {
            var tokenField = document.getElementById("token");
            tokenField.select();
            document.execCommand("copy");
        }
    </script>
</head>
<body>
<th:block layout:fragment="body">
    <div>
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">subject</th>
                <td th:text="${user.subject}"></td>
            </tr>
            <tr>
                <th scope="row">preferred_username</th>
                <td th:text="${user.preferredUsername}"></td>
            </tr>
            <tr>
                <th scope="row">Token</th>
                <td>
                    <input id="token" type="text" th:value="${authInfo}" readonly style="cursor: pointer;"
                           onclick="copyToken()"/>
                </td>
            </tr>
            </tbody>
        </table>
        <p>
        <form method="post" th:action="@{/logout}">
            <button class="btn btn-outline-primary" type="submit">Logout</button>
        </form>
        </p>
    </div>


</th:block>
</body>
</html>
