<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quatrolango Language School Courses</title>
    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }

        .container {
            width: 80%;
            margin: auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

        .header h1 {
            color: #007bff;
        }

        .course {
            margin-bottom: 20px;
        }

        .course h2 {
            color: #007bff;
        }

        .course p {
            margin-top: 5px;
            margin-bottom: 15px;
        }

        .footer {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Welcome to Quatrolango Language School!</h1>
        <p>Expand your horizons with our language courses.</p>
    </div>
    <div class="course" th:each="course : ${courses}">
        <h2 th:text="${course.name}"></h2>
        <p>Language: <span th:text="${course.language}"></span></p>
        <p>Proficiency level: <span th:text="${course.proficiencyLevel}"></span></p>
        <p>Do not hesitate and Enroll Now</p>
    </div>
    <div class="footer">
        <p>For more information, visit our website</p>
    </div>
</div>
</body>
</html>